<div class="d-flex mt-5">
    <p class="flex-grow-1">Copyright &copy; 2023 | Design By StyleShout</p>
    <div class="hstack gap-3">
      <a href="#">
        <i class="fab fa-facebook fa-2x text-white"></i>
      </a>
      <a class="text-decoration-none" href="#">
        <i class="fab fa-twitter fa-2x text-white"></i>
      </a>
      <a class="text-decoration-none" href="#">
        <i class="fab fa-instagram fa-2x text-white"></i>
      </a>
      <a class="text-decoration-none" href="#">
        <i class="fab fa-linkedin fa-2x text-white"></i>
      </a>
      <a class="text-decoration-none" href="#">
        <i class="fab fa-dribbble fa-2x text-white"></i>
      </a>
    </div>
  </div>